@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" >
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" asp-append-version="true" >
    <!-- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @RenderSection("stylesheet", required: false)
</head>

<body>
    <div class="index container-fluid">
        <header class="fixed-top">
                <div class="head row d-flex align-content-center justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
                <div class="title row flex-column align-items-center justify-content-center flex-xl-row justify-content-xl-between flex-sm-row justify-content-sm-center">
                    <div class="d-none d-sm-block">
                        <img class="" src="~/images/logo.svg">
                    </div>
                    <div id="navbar" class="d-none d-sm-block d-sm-flex align-self-end">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a asp-controller="Equipment" asp-action="NoAuction" class="nav-link" aria-controls="no-auction">未拍卖设备</a></li>
                            <li class="nav-item"><a asp-controller="Equipment" asp-action="Auctioned" class="nav-link"aria-controls="auctioned">已拍卖设备</a></li>
                            <li class="nav-item"><a asp-controller="Equipment" asp-action="InsteadAuction" class="nav-link" aria-controls="instead-auction">代采购设备</a></li>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole(ApplicationRole.Admin))
                            {
                            <li class="nav-item">
                                <a a asp-controller="Equipment" asp-action="Index" class="nav-link" aria-controls="manage">系统管理</a>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="d-flex d-sm-none col justify-content-between align-items-center">
                        <i id="toggle-menu" class="menu fas fa-bars"></i>
                        <img class="" src="~/images/logo-s.svg">
                        <a href="../pages/index.html"><i class="user fas fa-user"></i></a>
                    </div>
                </div>
        </header>
        <partial name="_StatusMessage"/>
        @RenderBody()
        <footer class="fixed-bottom d-flex justify-content-sm-between justify-content-center">
            <div class="float-sm-left pl-sm-4">
                津IPC字：00000000
            </div>
            <div class="float-sm-right pr-sm-4">
                技术支持：天津加法网络技术有限公司
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>

    @RenderSection("script", required: false)
</body>

</html>