@using Microsoft.AspNetCore.Identity
@using Auction.Identity.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="userinfo d-none d-sm-block">
            <a asp-controller="Manage" asp-action="Index" title="Manage">您好: @UserManager.GetUserName(User)!</a>
        </div>
        <div class="userinfo d-none d-sm-block">
            <a asp-controller="Account" asp-action="LogOff">退出</a>
        </div>
}
else
{
    <div class="signin offset-9 d-none d-sm-block"><a asp-controller="Account" asp-action="Login">登陆</a></div>
    <div class="register d-none d-sm-block"><a asp-controller="Account" asp-action="Register">注册</a></div>
}