@using Microsoft.AspNetCore.Identity
@using Auction.Identity.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a asp-controller="Equipment" asp-action="Index" class="nav-link">Equipment Create</a></li>
            <li class="nav-item">
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <a href="javascript:{}" class="nav-link" onclick="document.getElementById('logoutForm').submit(); return false;">Log off</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>
        <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link">Log in</a></li>
    </ul>
}