<div class="body row justify-content-center align-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center" style="border: 2px solid #e87511bf;
    border-radius: 5px;
    background-color: rgba(158, 158, 158, .5);
    padding: 15px;">
        
        <h2>您的的权限不够，如果查看联系客服注册为会员</h2>
        <h3>
            Tel: XXXXXXXXX
        </h3>
    </div>
</div>