<div class="body row justify-content-center align-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        
        <h2>您的的权限不够，如果查看联系客服注册为会员</h2>
        <h3>
            Tel: XXXXXXXXX
        </h3>
    </div>
</div>