@model SearchEquipmentViewModel

<div class="search slideout-menu slideout-menu-left">
    @await Html.PartialAsync("_AuctionSearchPartial", Model, ViewData)
                                @**new ViewDataDictionary(ViewData){})**@
</div>
<div class="show flex-grow-1">
    <div class="sort">
        @await Html.PartialAsync("_AuctionSortPartial", Model, ViewData)
    </div>
    <div class="data pl-3 pt-3">
        @await Html.PartialAsync("_AuctionListPartial", Model, ViewData)
    </div>
</div>

@if(Context.Request.IsAjaxRequest()){
    await Html.RenderPartialAsync("_SliderScriptsPartial");

    <script>
        function checkOrderBy(){
            var selectedOrderBy = "@Model.Sort?.Field";
            var selectedDirection = "@Model.Sort?.Direction";
            var className = "text-warning";

            $(".sort .list-inline-item").each(function(i, ele){
                var $orderBys = $(ele).find(".order-by");
                $orderBys.each(function(i, ele){
                    var orderBy = $(ele).data("order-by");
                    var direction = $(ele).data("direction");
                
                    if(orderBy == selectedOrderBy){
                        $(ele).find("p").addClass(className);
                        if(direction == selectedDirection && $(ele).is(":hidden")){
                            $orderBys.toggleClass("d-none");
                        }
                    }
                })
            })
        }
        checkOrderBy();
        
        function checkedValue(){
            $(".condition").html("");

            $(".search input[type='checkbox']:visible:checked").each(function(i, ele){
                var chipId = $(ele).attr("id") + "-chip";
                var checkboxArrayId = $(ele).attr("id").split("_").slice(0,2).join("_");  
                var hiddenInputId = checkboxArrayId + "__Name";
                var valueInput = $("#" + hiddenInputId);
                addOrUpdateChip(resetCheckboxStatus, chipId, valueInput.val());
            })

             if($("#WorkingTimeRangeMin").val() != undefined && $("#WorkingTimeRangeMin").val() != ""){
                addOrUpdateChip(resetWorkingTimeRangeSlider, 
                                "working-time-range-chip", 
                                "工作小时:" + $("#WorkingTimeRangeMin").val(), 
                                $("#WorkingTimeRangeMax").val());
            }

            if($("#ProductionDateRangeMin").val() != undefined && $("#ProductionDateRangeMin").val() != ""){
                addOrUpdateChip(resetProductionDateRangeSlider,
                                "production-date-range-chip",
                                "生产年份:" + $("#ProductionDateRangeMin").val(),
                                $("#ProductionDateRangeMax").val());
            }
            
            if($("#DealPriceRangeMin").val() != undefined && $("#DealPriceRangeMin").val() != ""){
                addOrUpdateChip(resetDealPriceRangeSlider,
                                "deal-price-range-chip", 
                                "成交价格:" + $("#DealPriceRangeMin").val(),
                                $("#DealPriceRangeMax").val());
            }

            if($("#SoldAtRangeMin").val() != undefined && $("#SoldAtRangeMin").val() != ""){
                addOrUpdateChip(resetSoldAtRangePicker, 
                                "sold-at-range-chip", 
                                "拍卖日期:" + moment($("#SoldAtRangeMin").val()).format("YYYY/MM/DD"),
                                moment($("#SoldAtRangeMax").val()).format("YYYY/MM/DD"));
            }
        }
        checkedValue();
        $("html").removeClass("slideout-open")
        var slideout = new Slideout({
            'panel': $('.info .show').get(0),
            'menu': $('.info .search').get(0),
            'padding': 250,
            'tolerance': 70
        });
    </script>
}