@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.Extensions.Options;
@model EquipmentViewModel
@{
    ViewData["Title"] = "代采购设备";
}
@section stylesheet {
    
}

<div class="bodyinfo row">
    <div class="condition">
        
    </div>
    <div class="info d-flex"> 
        <div class="search">
            
        </div>
        <div class="show flex-grow-1">
            <div class="sort">

            </div>
            <div class="data">

            </div>
        </div>
    </div>
</div>