
@model EquipmentViewModel
@{
    ViewData["Title"] = "新建设备";
    ViewData["Action"] = "Create";
}
<div class="bodyinfo text-dark">
    <div class="container my-4">
        <h4>@ViewData["Title"]</h4>
        <hr />
        @await Html.PartialAsync("_EquipmentFormPartial", Model,
                                 new ViewDataDictionary(ViewData)
                                 {});
    </div>
</div>
