
@model EquipmentViewModel
@{
    ViewData["Title"] = "新建设备";
    ViewData["Action"] = "Create";
    Layout = "_SystemLayout";
}

        <h4>@ViewData["Title"]</h4>
        <hr />
        @await Html.PartialAsync("_EquipmentFormPartial", Model,
                                 new ViewDataDictionary(ViewData)
                                 {})

@section script {
    <script>
        $(document).ready(function(){
            $(".search .nav-link[href='/equipment/index']").addClass("active");
        })
    </script>
}