<div class="pt-3 d-flex align-items-center justify-content-end">
    <a asp-action="UserNew" class="btn btn-primary mr-auto">新建</a>
    <form asp-controller="System" asp-action="Users" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="form-inline" role="form" style="padding: 0; margin:0">
        <div class="form-group ml-4">
            <div class="input-group">
                <input type="text" name="KeyWord" value="@Model.KeyWord" class="form-control" placeholder="姓名或手机号" aria-label="姓名或手机号" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="equipment—index-table">
    @await Html.PartialAsync("_UsersTablePartial", Model, ViewData)
</div>
