@model ApplicationUserViewModel
@{
    ViewData["Title"]  = "Register";
    ViewData["Action"] = "UserNew";
    Layout = "_SystemLayout";
}
<h4>Create a new account.</h4>
<hr />
@await Html.PartialAsync("_UserFormPartial", Model, ViewData)