
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "修改用户";
    ViewData["Action"] = "UserEdit";
    Layout = "_SystemLayout";
}
<h4>Edit account.</h4>
<hr />
@await Html.PartialAsync("_UserFormPartial", Model, ViewData)
@section script {
    $(document).Ready(function(){
        $("#Password").val("");
    });
}