<div style="background:#fff;border:1px solid #ccc;margin:2%;padding:0 30px">
    <div style="line-height:40px;height:40px">&nbsp;</div>
    <p style="margin:0;padding:0;font-size:14px;line-height:30px;color:#333;font-family:arial,sans-serif;font-weight:bold">亲爱的用户：</p>
    <div style="line-height:20px;height:20px">&nbsp;</div>
    <p style="margin:0;padding:0;line-height:30px;font-size:14px;color:#333;font-family:'宋体',arial,sans-serif">您好#{UserName}！感谢您使用中机国际进出口，您正在进行邮箱验证，本次请求的验证码为：</p>
    <p style="margin:0;padding:0;line-height:30px;font-size:14px;color:#333;font-family:'宋体',arial,sans-serif"><b style="font-size:18px;color:#f90"><a href="#{Url}">重置连接</a></b><span
            style="margin:0;padding:0;margin-left:10px;line-height:30px;font-size:14px;color:#979797;font-family:'宋体',arial,sans-serif">(为了保障您帐号的安全性，请在1小时内完成验证。)</span></p>
    <div style="line-height:80px;height:80px">&nbsp;</div>
    <p style="margin:0;padding:0;line-height:30px;font-size:14px;color:#333;font-family:'宋体',arial,sans-serif">中机国际帐号团队</p>
    <p style="margin:0;padding:0;line-height:30px;font-size:14px;color:#333;font-family:'宋体',arial,sans-serif">@DateTime.Now.ToShortDateString()</p>
    <div style="line-height:20px;height:20px">&nbsp;</div>
    <div style="border-top:1px dashed #dfdfdf;padding:30px 0;overflow:hidden">
        <div style="float:left;width:110px">
            <img src="https://passport.baidu.com/export/app/img/qrcode_android.png" style="border:1px solid #dfdfdf;padding:5px">
        </div>
        <div style="overflow:hidden">
            <p style="text-indent:2em;color:#666;font-size:14px">绑定<a target="_blank" href="https://passport.baidu.com/export/app/index.html"
                    style="font-size:16px;color:#36c;text-decoration:none;font-weight:bold">中机国际进出口</a>，收取验证码不再等待！</p>
        </div>
    </div>
</div>