@model IndexViewModel
@{
    ViewData["Title"] = "系统设置";
}
@section stylesheet{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" media="all" rel="stylesheet" type="text/css"/>
    <style>
        .body{
            background-image: none;
        }
        .bodyinfo{
            width: 90%;
        }
        .bodyinfo .info .search{
            width: 200px;
            border-right: none;
            padding-bottom: 0; 
        }
        .bodyinfo .info .show .data{
            min-height: 100%;
            padding-bottom: 0;
        }
        .breadcrumb{
            height: 40px;
            padding: 0.6rem 0.8rem;
        }
    </style>
}
<div class="bodyinfo row">
    <div class="info d-flex"> 
        <div class="search">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" 
                    data-ajax="true" 
                    data-ajax-method="GET" 
                    data-ajax-mode="Replace" 
                    data-ajax-update="#equipment—index-table" 
                    data-ajax-success="changeEquipmentTab"
                    data-toggle="pill"
                    href="/equipment/index">设备列表</a>
                <a class="nav-link" id="user-search-history" data-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false">用户搜索记录</a>
                <a class="nav-link" id="user-login-history" data-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false">用户登陆记录</a>
                <a class="nav-link" id="user-list-history" data-toggle="pill" href="#v-pills-settings" role="tab" aria-selected="false">用户列表</a>
            </div>
        </div>
        <div class="show flex-grow-1 pl-4 pt-4" id="equipment—index-table">
        </div>
    </div>
  
</div>
@section script{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js" async></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js" async></script>
    <script>
        $(".title .nav-item .nav-link[href='/manage/system']")
            .closest(".nav-item")
            .css("background-color","white")

        function changeEquipmentTab(){
            $('[data-toggle="table"]').bootstrapTable();
            $("#PageSize").bind("change", selectPageSizeChange);
        }
    </script>
}