html,
body {
  font-family: 'Trebuchet MS';

  height: 100%;
}

.irs--round .irs-bar {
  background-color: #e87511 !important;
}

.irs--round .irs-handle {
  top: 28px !important;
  width: 18px !important;
  height: 18px !important;
  border: 4px solid #e87511 !important;
  box-shadow: 0 1px 3px #e875114d !important;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: #e87511 !important;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  background-color: #e87511 !important;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  font-size: 1rem;
  height: 1.625rem;
  line-height: 1.625rem;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 0 5px 5px 0;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 1.25rem;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.btn {
  height: 38px;
}

a,
th,
td,
select,
label,
.form-control,
.btn,
.input-group-text {
  font-size: 0.875rem;
}

.btn,
input.form-control {
  height: auto;
}

a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #495057;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav .nav-link.active {
  color: #495057;
  background-color: #EAB82D;
}

.pagination {
  padding: 0;
  margin: 0;
}

.index {
  position: absolute;

  height: 100%;
}

.head a {
  font-size: 1.125rem;
}

.head {
  /* 18px */
  line-height: 3.125rem;
  /* 50px */

  background-color: #003a70;
  padding: 0 8%;
}

.head a {
  color: white;
}

.head .signin,
.userinfo {
  margin-right: 15px;
}

.head .register {
  width: 100px;

  text-align: center;


  background-color: white;
}

.head .register a {
  color: black;
}

.title {
  position: relative;

  height: 100px;

  border-bottom: 3px solid #e87511;
  background-color: #f0f0f0;
}

@media (min-width: 576px) {
  .title {
    padding: 0 10%;
  }
}

.title img {
  width: 200px;
}

@media (min-width: 576px) {
  .title img {
    width: 340px;
  }
}

.title .menu {
  font-size: 2.1875rem;

  margin: 10px;

  color: #e87511;

  justify-self: start;
}

.title .user {
  font-size: 2.1875rem;

  margin: 10px;

  color: #e87511;

  justify-self: end;
}

.title .ver-menu {
  position: absolute;
  top: 100px;
  left: 16px;

  width: 160px;

  border: 1px solid #e87511;
  border-radius: 0 0 10px 10px;
  background-color: rgb(240, 240, 240, 5);
}

.title .ver-menu li {
  display: inline-block;

  width: 160px;
}

#navbar li.nav-item a {
  font-size: 1.25rem;
  font-weight: bold;

  color: #495057;
}

.btn-primary,
.page-item.active .page-link {
  background-color: #EAB82D;
  border-color: #EAB82D;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #e87511;
  border-color: #e87511;
}

.page-link:focus,
.form-control:focus {
  border-color: #EAB82D;
  box-shadow: 0 0 0 0.2rem #EAB82D80;
}

.daterangepicker select {
  border-radius: 2px;
}

#navbar li.nav-item:hover {
  border-radius: 5px;
  background-color: white;
}

.body {
  height: calc(100% - 140px);
  margin: 100px -15px 40px;

  background-image: url('../images/bk.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

table[data-toggle="table"] tbody td:last-child {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 576px) {
  .alert-dismiss8ible {
    margin-top: 100px;
  }
}

@media (min-width: 576px) {
  .body {
    height: calc(100% - 190px);
    margin: 150px -15px 40px;
  }

  .alert-dismissible {
    margin-top: 150px;
  }
}

.login form {
  width: 90%;
  padding: 40px;
  min-width: 370px;

  border: 2px solid #e87511;
  border-radius: 5px;
  background-color: rgba(158, 158, 158, .5);
}

.login h3 {
  color: #e87511;
  text-shadow: 2px 2px 4px #fff;
}

.login .me {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.login a {
  text-shadow: 2px 2px 4px #000;
}

.login .label span {
  display: inline-block;

  width: 110px;
  height: 38px;

  text-align: justify;
  white-space: normal;
}

.login .label span:after {
  display: inline-block;

  width: 100%;

  content: ' ';
}

.bodyinfo {
  width: 80%;
  /* min-width: 1000px; */
  height: auto;
  min-height: calc(100% - 190px);
  margin: 150px auto 40px;
}

@media(max-width: 1024px) {
  .bodyinfo {
    width: 100%;
    min-width: 768px;
  }
}

@media(max-width: 576px) {
  .bodyinfo {
    margin: 100px auto 0;
    min-width: auto;
  }
}

.bodyinfo .search-input {
  height: 43px;
  width: 100%;
}

.bodyinfo .condition {
  width: 100%;
  min-height: 30px;

  border-bottom: 2px solid gray;
}

.bodyinfo .info {
  width: 100%;
  min-height: calc(100% - 60px);
}

.bodyinfo .info .equipment-list img {
  width: 240px;
  height: auto;
}

.bodyinfo .info .equipment-list .media-body p {
  margin-bottom: .5rem;
}

@media(max-width: 576px) {
  #navbar li.nav-item a {
    font-size: 1.25rem;
  }

  .bodyinfo {
    min-height: calc(100vh - 140px);
    height: auto;
    margin-bottom: 50px;
  }

  .bodyinfo .info {
    height: auto;
    /* min-height: calc(100vh - 140px); */
  }

  .bodyinfo .info .show {
    background: white;
    touch-action: none;
  }

  .bodyinfo .info .equipment-list img {
    width: 140px;
    height: auto;
  }

  .bodyinfo .info .equipment-list .media-body .equipment-title {
    font-size: 1.25rem;
  }

  .data .equipment-list .price {
    bottom: 0;
    left: 0;
  }

  .bodyinfo .info .equipment-list .media-body p {
    font-size: 1rem;
  }

  .bodyinfo .info .search {
    margin-top: -58px;
    background: #f0f0f0;
    border-right: none !important;
  }

  .bodyinfo .info .search.slideout-menu {
    position: fixed;
    top: 158px;
    bottom: 0;
    width: 250px;
    min-height: calc(100% - 140px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }

  .bodyinfo .info .search.slideout-menu-left {
    left: 0;
  }

  .bodyinfo .info .search.slideout-menu-right {
    right: 0;
  }

  .bodyinfo .info .search.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh;
  }

  html.slideout-open,
  html.slideout-open body,
  html.slideout-open .bodyinfo .info .search.slideout-panel {
    overflow: hidden;
  }

  html.slideout-open .bodyinfo .info .search.slideout-menu {
    display: block;
  }

  .bodyinfo.equipment-show .photos {
    width: 100% !important;
    min-width: 100% !important;
  }

}

.bodyinfo .info .search {
  width: 25%;
  max-width: 300px;
  min-width: 250px;
  min-height: 100%;
  padding-bottom: 40px;

  border-right: 2px solid gray;
}

.bodyinfo .info .show .sort {
  width: 100%;
  /* height: 80px; */

  border-bottom: 1px solid gray;
}

.bodyinfo .info .show .data {
  width: 100%;
  min-height: calc(100% - 80px);
  padding-bottom: 40px;
}

.bodyinfo.equipment-show .equipment-message {
  min-width: 390px;
}

@media (min-width: 2000px) {
  .bodyinfo.equipment-show .equipment-message {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .bodyinfo.equipment-show .equipment-message {
    max-width: 100%;
    min-width: 50%;
  }
}

@media (max-width: 1108px) and (min-width: 768px) {
  .bodyinfo.equipment-show .equipment-message {
    min-width: 100%;
  }
}

.bodyinfo.equipment-show .equipment-message label {
  min-width: 80px;
}

.bodyinfo.equipment-show .equipment-message div {
  padding: 0;
  margin: 0;
  /* min-width: 200px; */
}

.bodyinfo.equipment-show .photos-container {
  margin: 0 0 20px 0;
}

.bodyinfo.equipment-show .photos-container .equipment-name{
  position: relative;
}

.bodyinfo.equipment-show .photos {
  max-width: 600px;
  /* width: 30%; */
  min-width: 460px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 10px;
}

.bodyinfo.equipment-show .photo-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

footer {
  margin: 0 -15px;

  background-color: #3f3f3f;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
}

@media (min-width: 410px) {
  footer {
    line-height: 40px;
  }
}


.data .equipment-list {
  border-bottom: 1px dotted #8f8f8f;
  position: relative;
}

.data .equipment-list .equipment-title {
  color: #3c3c3c;
}

.data .equipment-list .price {
  color: #e87511;
  font-size: 1.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.data .equipment-list .work-time-label {
  font-size: 1.25rem;
}

.sort p:first-child {
  margin: 0.5rem 0 0 15px;
}

.sort ul.order-ul {
  margin-top: 0;
}

.sort dl,
.sort ol,
.sort ul {
  margin-bottom: 0.5rem;
}

.search .form-group {
  border-bottom: 1px dotted #8f8f8f;
}

.search .form-group .control-label {
  font-size: 1rem;
  font-weight: bold;
}

.cover-photo {
  height: 100%;
  position: relative;
}

.cover-photo.is-sold-out img {
  opacity: 0.4;
}

.sold-out {
  display: flex;
  position: absolute;
  /* top: calc(50% - 1.5rem);
  left: calc(50% - 2.5rem - 10px); */
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid red;
  color: red;
  width: 5rem;
  height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
}

.sold-out:before {
  content: "已售";
  width: 100%;
}

.sold-out-new {
  position: relative;
}

.sold-out-new:before {
  content: "";
  position: absolute;
  left: .3rem;
  top: calc(50% - 1.5rem);
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 5px solid red;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
}

.sold-out-new:after {
  content: "已售";
  position: absolute;
  left: .8rem;
  top: calc(50% - 1.4rem - 6px);
  width: 4.5rem;
  line-height: 3rem;
  color: red;
  font-weight: bold;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
}